## Proyecto 3

Importamos las librerias y el comando de funciones a trabajar para realizar nuestro análisis

In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import requests
import Funciones as F

Comenzamos analizando el primer data frame

Los datos corresponden a la tabla de Índices nacionales (extraida de la página web del INE): general y de grupos ECOICOP. Es la fuente oficial utilizada para medir la inflación en España y ajustar contratos, pensiones o salarios.

In [2]:
df2=pd.read_csv("50902.csv",sep=';')

In [3]:
df2

,Grupos ECOICOP,Tipo de dato,Periodo,Total
0,Índice general,Índice,2025M12,"119,942"
1,Índice general,Índice,2025M11,"119,532"
2,Índice general,Índice,2025M10,"119,301"
3,Índice general,Índice,2025M09,"118,485"
4,Índice general,Índice,2025M08,"118,824"
...,...,...,...,...
14971,12 Otros bienes y servicios,Variación en lo que va de año,2002M05,"2,9"
14972,12 Otros bienes y servicios,Variación en lo que va de año,2002M04,"2,7"
14973,12 Otros bienes y servicios,Variación en lo que va de año,2002M03,"2,5"
14974,12 Otros bienes y servicios,Variación en lo que va de año,2002M02,"2,2"
14975,12 Otros bienes y servicios,Variación en lo que va de año,2002M01,"2,0"

In [5]:
F.informe_detallado(df2)

--- INFORME FINAL (2026) ---
Dimensiones finales: (14976, 4)
Duplicados: 0
Nulos totales: 0

Primeras filas:
   Grupos ECOICOP Tipo de dato  Periodo    Total
0  Índice general       Índice  2025M12  119,942
1  Índice general       Índice  2025M11  119,532
2  Índice general       Índice  2025M10  119,301
3  Índice general       Índice  2025M09  118,485
4  Índice general       Índice  2025M08  118,824

In [6]:
F.columnas(df2)

Index(['Grupos ECOICOP', 'Tipo de dato', 'Periodo', 'Total'], dtype='object')
4

In [7]:
F.categorico(df2,"Grupos ECOICOP")

Grupos ECOICOP
Índice general                                                                           1152
01 Alimentos y bebidas no alcohólicas                                                    1152
02 Bebidas alcohólicas y tabaco                                                          1152
03 Vestido y calzado                                                                     1152
04 Vivienda, agua, electricidad, gas y otros combustibles                                1152
05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar    1152
06 Sanidad                                                                               1152
07 Transporte                                                                            1152
08 Comunicaciones                                                                        1152
09 Ocio y cultura                                                                        1152
10 Enseñanza                                                                             1152
11 Restaurantes y hoteles                                                                1152
12 Otros bienes y servicios                                                              1152
Name: count, dtype: int64
['Índice general' '01 Alimentos y bebidas no alcohólicas'
 '02 Bebidas alcohólicas y tabaco' '03 Vestido y calzado'
 '04 Vivienda, agua, electricidad, gas y otros combustibles'
 '05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar'
 '06 Sanidad' '07 Transporte' '08 Comunicaciones' '09 Ocio y cultura'
 '10 Enseñanza' '11 Restaurantes y hoteles' '12 Otros bienes y servicios']
13

filtramos por filas para nuestro estudio

In [8]:
categorias_a_mantener = ['Índice general', '01 Alimentos y bebidas no alcohólicas','05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar']

In [9]:
df2_filtrado=F.filtrar_fila(df2,'Grupos ECOICOP',categorias_a_mantener)

In [1227]:
df2_filtrado

,Grupos ECOICOP,Tipo de dato,Periodo,Total
0,Índice general,Índice,2025M12,"119,942"
1,Índice general,Índice,2025M11,"119,532"
2,Índice general,Índice,2025M10,"119,301"
3,Índice general,Índice,2025M09,"118,485"
4,Índice general,Índice,2025M08,"118,824"
...,...,...,...,...
6907,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,2002M05,"1,3"
6908,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,2002M04,"0,9"
6909,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,2002M03,"0,3"
6910,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,2002M02,"-0,1"
6911,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,2002M01,"-0,3"

Cambiamos la columna Periodo por dos una de año y mes separandolas

In [1228]:
F.categorico(df2_filtrado,"Periodo")

Periodo
2025M12    12
2025M11    12
2025M10    12
2025M09    12
2025M08    12
           ..
2002M05    12
2002M04    12
2002M03    12
2002M02    12
2002M01    12
Name: count, Length: 288, dtype: int64
['2025M12' '2025M11' '2025M10' '2025M09' '2025M08' '2025M07' '2025M06'
 '2025M05' '2025M04' '2025M03' '2025M02' '2025M01' '2024M12' '2024M11'
 '2024M10' '2024M09' '2024M08' '2024M07' '2024M06' '2024M05' '2024M04'
 '2024M03' '2024M02' '2024M01' '2023M12' '2023M11' '2023M10' '2023M09'
 '2023M08' '2023M07' '2023M06' '2023M05' '2023M04' '2023M03' '2023M02'
 '2023M01' '2022M12' '2022M11' '2022M10' '2022M09' '2022M08' '2022M07'
 '2022M06' '2022M05' '2022M04' '2022M03' '2022M02' '2022M01' '2021M12'
 '2021M11' '2021M10' '2021M09' '2021M08' '2021M07' '2021M06' '2021M05'
 '2021M04' '2021M03' '2021M02' '2021M01' '2020M12' '2020M11' '2020M10'
 '2020M09' '2020M08' '2020M07' '2020M06' '2020M05' '2020M04' '2020M03'
 '2020M02' '2020M01' '2019M12' '2019M11' '2019M10' '2019M09' '2019M08'
 '2019M07' '2019M06' '2019M05' '2019M04' '2019M03' '2019M02' '2019M01'
 '2018M12' '2018M11' '2018M10' '2018M09' '2018M08' '2018M07' '2018M06'
 '2018M05' '2018M04' '2018M03' '2018M02' '2018M01' '2017M12' '2017M11'
 '2017M10' '2017M09' '2017M08' '2017M07' '2017M06' '2017M05' '2017M04'
 '2017M03' '2017M02' '2017M01' '2016M12' '2016M11' '2016M10' '2016M09'
 '2016M08' '2016M07' '2016M06' '2016M05' '2016M04' '2016M03' '2016M02'
 '2016M01' '2015M12' '2015M11' '2015M10' '2015M09' '2015M08' '2015M07'
 '2015M06' '2015M05' '2015M04' '2015M03' '2015M02' '2015M01' '2014M12'
 '2014M11' '2014M10' '2014M09' '2014M08' '2014M07' '2014M06' '2014M05'
 '2014M04' '2014M03' '2014M02' '2014M01' '2013M12' '2013M11' '2013M10'
 '2013M09' '2013M08' '2013M07' '2013M06' '2013M05' '2013M04' '2013M03'
 '2013M02' '2013M01' '2012M12' '2012M11' '2012M10' '2012M09' '2012M08'
 '2012M07' '2012M06' '2012M05' '2012M04' '2012M03' '2012M02' '2012M01'
 '2011M12' '2011M11' '2011M10' '2011M09' '2011M08' '2011M07' '2011M06'
 '2011M05' '2011M04' '2011M03' '2011M02' '2011M01' '2010M12' '2010M11'
 '2010M10' '2010M09' '2010M08' '2010M07' '2010M06' '2010M05' '2010M04'
 '2010M03' '2010M02' '2010M01' '2009M12' '2009M11' '2009M10' '2009M09'
 '2009M08' '2009M07' '2009M06' '2009M05' '2009M04' '2009M03' '2009M02'
 '2009M01' '2008M12' '2008M11' '2008M10' '2008M09' '2008M08' '2008M07'
 '2008M06' '2008M05' '2008M04' '2008M03' '2008M02' '2008M01' '2007M12'
 '2007M11' '2007M10' '2007M09' '2007M08' '2007M07' '2007M06' '2007M05'
 '2007M04' '2007M03' '2007M02' '2007M01' '2006M12' '2006M11' '2006M10'
 '2006M09' '2006M08' '2006M07' '2006M06' '2006M05' '2006M04' '2006M03'
 '2006M02' '2006M01' '2005M12' '2005M11' '2005M10' '2005M09' '2005M08'
 '2005M07' '2005M06' '2005M05' '2005M04' '2005M03' '2005M02' '2005M01'
 '2004M12' '2004M11' '2004M10' '2004M09' '2004M08' '2004M07' '2004M06'
 '2004M05' '2004M04' '2004M03' '2004M02' '2004M01' '2003M12' '2003M11'
 '2003M10' '2003M09' '2003M08' '2003M07' '2003M06' '2003M05' '2003M04'
 '2003M03' '2003M02' '2003M01' '2002M12' '2002M11' '2002M10' '2002M09'
 '2002M08' '2002M07' '2002M06' '2002M05' '2002M04' '2002M03' '2002M02'
 '2002M01']
288

In [1229]:
df2_filtrado=F.periodo(df2_filtrado,'Periodo')

c:\Users\tachi\Documents\git\proyecto3\Funciones.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Anyo'] = df[col].str[:4].astype(int)
c:\Users\tachi\Documents\git\proyecto3\Funciones.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mes'] = df[col].str[5:].astype(int)

In [1234]:
df2_filtrado

,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
0,Índice general,Índice,"119,942",2025,12
1,Índice general,Índice,"119,532",2025,11
2,Índice general,Índice,"119,301",2025,10
3,Índice general,Índice,"118,485",2025,9
4,Índice general,Índice,"118,824",2025,8
...,...,...,...,...,...
6907,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,"1,3",2002,5
6908,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,"0,9",2002,4
6909,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,"0,3",2002,3
6910,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,"-0,1",2002,2
6911,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,"-0,3",2002,1

In [1411]:
df2_limpio2=F.cambiocoma_punto(df2_filtrado,"Total")

Filtraremos los años de estudios que serán del 2018 a 2025

In [1412]:

df2_limpio =F.año_estudio(df2_limpio2,'Anyo')

In [1414]:
df2_limpio

,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
0,Índice general,Índice,119.942,2025,12
1,Índice general,Índice,119.532,2025,11
2,Índice general,Índice,119.301,2025,10
3,Índice general,Índice,118.485,2025,9
4,Índice general,Índice,118.824,2025,8
...,...,...,...,...,...
6715,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.200,2018,5
6716,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.100,2018,4
6717,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.400,2018,3
6718,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.600,2018,2
6719,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.700,2018,1

lista df2_filtrado listo para analizar y unir

In [1424]:
con1=df2_limpio.groupby(['Grupos ECOICOP','Tipo de dato'])["Total"].mean().round(2).reset_index(name='Promedio_Total')

In [1425]:
con1

,Grupos ECOICOP,Tipo de dato,Promedio_Total
0,01 Alimentos y bebidas no alcohólicas,Variación anual,4.54
1,01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,2.60
2,01 Alimentos y bebidas no alcohólicas,Variación mensual,0.37
3,01 Alimentos y bebidas no alcohólicas,Índice,110.84
4,"05 Muebles, artículos del hogar y artículos pa...",Variación anual,1.87
5,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.87
6,"05 Muebles, artículos del hogar y artículos pa...",Variación mensual,0.16
7,"05 Muebles, artículos del hogar y artículos pa...",Índice,104.96
8,Índice general,Variación anual,2.82
9,Índice general,Variación en lo que va de año,1.45
10,Índice general,Variación mensual,0.23
11,Índice general,Índice,105.66

Veamos el data frame que contiene datos del IPC (Índice de Precios de Consumo) Que proviene del ISTAC (Instituto Canario de Estadística).

In [ ]:
df3=pd.read_csv("ipc-por-grupos-de-gasto-base-2021.csv",sep=";", encoding="latin-1")
df3.head()

,Año,Concepto,Tipo territorio,Código territorio,Territorio,Valor,Unidad,Estado dato
0,2002,Índice Precios de Consumo de las comunicaciones,Otros,NaN,NaN,121.864,Índice,NaN
1,2002,Índice Precios de Consumo del ocio y la cultura,Otros,NaN,NaN,99.137,Índice,NaN
2,2002,Índice Precios de Consumo de las bebidas alcoh...,Otros,NaN,NaN,46.883,Índice,NaN
3,2002,Índice Precios de Consumo de los alimentos y l...,Otros,NaN,NaN,67.976,Índice,NaN
4,2002,"Índice Precios de Consumo de muebles, artículo...",Otros,NaN,NaN,81.978,Índice,NaN

In [ ]:
df3

,Año,Concepto,Tipo territorio,Código territorio,Territorio,Valor,Unidad,Estado dato
0,2002,Índice Precios de Consumo de las comunicaciones,Otros,NaN,NaN,121.864,Índice,NaN
1,2002,Índice Precios de Consumo del ocio y la cultura,Otros,NaN,NaN,99.137,Índice,NaN
2,2002,Índice Precios de Consumo de las bebidas alcoh...,Otros,NaN,NaN,46.883,Índice,NaN
3,2002,Índice Precios de Consumo de los alimentos y l...,Otros,NaN,NaN,67.976,Índice,NaN
4,2002,"Índice Precios de Consumo de muebles, artículo...",Otros,NaN,NaN,81.978,Índice,NaN
...,...,...,...,...,...,...,...,...
294,2024,Índice Precios de Consumo del vestido y el cal...,Otros,NaN,NaN,105.560,Índice,NaN
295,2024,"Índice Precios de Consumo de vivienda, agua, e...",Otros,NaN,NaN,105.341,Índice,NaN
296,2024,"Índice Precios de Consumo de muebles, artículo...",Otros,NaN,NaN,111.496,Índice,NaN
297,2024,Índice Precios de Consumo de sanidad,Otros,NaN,NaN,101.759,Índice,NaN
298,2024,Índice Precios de Consumo de los alimentos y l...,Otros,NaN,NaN,129.682,Índice,NaN

In [ ]:
informe_detallado(df3)

--- INFORME FINAL (2026) ---
Dimensiones finales: (299, 8)
Duplicados: 0
Nulos totales: 897

Primeras filas:
    Año                                           Concepto Tipo territorio  \
0  2002    Índice Precios de Consumo de las comunicaciones           Otros
1  2002    Índice Precios de Consumo del ocio y la cultura           Otros
2  2002  Índice Precios de Consumo de las bebidas alcoh...           Otros
3  2002  Índice Precios de Consumo de los alimentos y l...           Otros
4  2002  Índice Precios de Consumo de muebles, artículo...           Otros

   Código territorio  Territorio    Valor  Unidad  Estado dato
0                NaN         NaN  121.864  Índice          NaN
1                NaN         NaN   99.137  Índice          NaN
2                NaN         NaN   46.883  Índice          NaN
3                NaN         NaN   67.976  Índice          NaN
4                NaN         NaN   81.978  Índice          NaN

muchos datos nulos veremos la columna código territorio

In [ ]:
F.categorico(df3,'Código territorio')

Series([], Name: count, dtype: int64)
[nan]
0

In [ ]:
F.categorico(df3,'Tipo territorio')

Tipo territorio
Otros    299
Name: count, dtype: int64
['Otros']
1

In [ ]:
F.categorico(df3,'Unidad')

Unidad
Índice    299
Name: count, dtype: int64
['Índice']
1

No la consideramos para el df

In [ ]:
df_reducido = df3[['Año','Concepto', 'Valor']]

In [ ]:
df_reducido.head()

    Año                                           Concepto    Valor
0  2002    Índice Precios de Consumo de las comunicaciones  121.864
1  2002    Índice Precios de Consumo del ocio y la cultura   99.137
2  2002  Índice Precios de Consumo de las bebidas alcoh...   46.883
3  2002  Índice Precios de Consumo de los alimentos y l...   67.976
4  2002  Índice Precios de Consumo de muebles, artículo...   81.978

In [ ]:
informe_detallado(df_reducido)

--- INFORME FINAL (2026) ---
Dimensiones finales: (299, 3)
Duplicados: 0
Nulos totales: 0

Primeras filas:
    Año                                           Concepto    Valor
0  2002    Índice Precios de Consumo de las comunicaciones  121.864
1  2002    Índice Precios de Consumo del ocio y la cultura   99.137
2  2002  Índice Precios de Consumo de las bebidas alcoh...   46.883
3  2002  Índice Precios de Consumo de los alimentos y l...   67.976
4  2002  Índice Precios de Consumo de muebles, artículo...   81.978

Cambiamos el nombre de la columna Año para unir a las otros Data frame

In [1241]:
df_reducido=df_reducido.rename(columns={"Año":"Anyo"})

In [1242]:
df_reducido

     Anyo                                           Concepto    Valor
0    2002    Índice Precios de Consumo de las comunicaciones  121.864
1    2002    Índice Precios de Consumo del ocio y la cultura   99.137
2    2002  Índice Precios de Consumo de las bebidas alcoh...   46.883
3    2002  Índice Precios de Consumo de los alimentos y l...   67.976
4    2002  Índice Precios de Consumo de muebles, artículo...   81.978
..    ...                                                ...      ...
294  2024  Índice Precios de Consumo del vestido y el cal...  105.560
295  2024  Índice Precios de Consumo de vivienda, agua, e...  105.341
296  2024  Índice Precios de Consumo de muebles, artículo...  111.496
297  2024               Índice Precios de Consumo de sanidad  101.759
298  2024  Índice Precios de Consumo de los alimentos y l...  129.682

[299 rows x 3 columns]

Filtraremos por año de estudio que es 2018 a 2025

In [1243]:

df3_limpio = F.año_estudio(df_reducido,'Anyo')

In [1339]:
df3_limpio=F.cambiocoma_punto(df3_limpio,'Valor')

c:\Users\tachi\Documents\git\proyecto3\Funciones.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df = df.dropna().reset_index(drop=True)

In [1340]:
df3_limpio

     Anyo                                           Concepto    Valor
208  2018    Índice Precios de Consumo del ocio y la cultura   99.751
209  2018    Índice Precios de Consumo de las comunicaciones  102.977
210  2018           Índice Precios de Consumo del transporte   94.710
211  2018               Índice Precios de Consumo de sanidad   99.681
212  2018  Índice Precios de Consumo de muebles, artículo...   98.212
..    ...                                                ...      ...
294  2024  Índice Precios de Consumo del vestido y el cal...  105.560
295  2024  Índice Precios de Consumo de vivienda, agua, e...  105.341
296  2024  Índice Precios de Consumo de muebles, artículo...  111.496
297  2024               Índice Precios de Consumo de sanidad  101.759
298  2024  Índice Precios de Consumo de los alimentos y l...  129.682

[91 rows x 3 columns]

hacemos que los conceptos letras

In [1358]:
df3_limpio['Concepto'] = df3_limpio['Concepto'].str.strip()

C:\Users\tachi\AppData\Local\Temp\ipykernel_31008\1769611355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_limpio['Concepto'] = df3_limpio['Concepto'].str.strip()

In [1359]:
F.categorico(df3_limpio,"Concepto")

Concepto
Índice Precios de Consumo del ocio y la cultura                                                                    7
Índice Precios de Consumo de las comunicaciones                                                                    7
Índice Precios de Consumo del transporte                                                                           7
Índice Precios de Consumo de sanidad                                                                               7
Índice Precios de Consumo de muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar    7
Índice Precios de Consumo de vivienda, agua, electricidad, gas y otros combustibles                                7
Índice Precios de Consumo del vestido y el calzado                                                                 7
Índice Precios de Consumo de las bebidas alcohólicas y el tabaco                                                   7
Índice Precios de Consumo de los alimentos y las bebidas no alcohólicas                                            7
Índice general de Precios de Consumo                                                                               7
Índice Precios de Consumo de otros bienes y servicios                                                              7
Índice Precios de Consumo de restaurantes y hoteles                                                                7
Índice Precios de Consumo de la enseñanza                                                                          7
Name: count, dtype: int64
['Índice Precios de Consumo del ocio y la cultura'
 'Índice Precios de Consumo de las comunicaciones'
 'Índice Precios de Consumo del transporte'
 'Índice Precios de Consumo de sanidad'
 'Índice Precios de Consumo de muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar'
 'Índice Precios de Consumo de vivienda, agua, electricidad, gas y otros combustibles'
 'Índice Precios de Consumo del vestido y el calzado'
 'Índice Precios de Consumo de las bebidas alcohólicas y el tabaco'
 'Índice Precios de Consumo de los alimentos y las bebidas no alcohólicas'
 'Índice general de Precios de Consumo'
 'Índice Precios de Consumo de otros bienes y servicios'
 'Índice Precios de Consumo de restaurantes y hoteles'
 'Índice Precios de Consumo de la enseñanza']
13

In [1441]:
df3limpio=df3_limpio.rename(columns={'Concepto': 'Grupos ECOICOP'})

In [1443]:
df3limpio=df3limpio.rename(columns={'Valor': 'Valor_istac'})

In [1444]:
df3limpio.head()

     Anyo                                     Grupos ECOICOP  Valor_istac
208  2018    Índice Precios de Consumo del ocio y la cultura       99.751
209  2018    Índice Precios de Consumo de las comunicaciones      102.977
210  2018           Índice Precios de Consumo del transporte       94.710
211  2018               Índice Precios de Consumo de sanidad       99.681
212  2018  Índice Precios de Consumo de muebles, artículo...       98.212

In [1452]:

data=F.cambiar_filas(df3limpio,'Grupos ECOICOP','Índice general de Precios de Consumo',"Índice general")

In [1465]:
frame=F.cambiar_filas(data,'Grupos ECOICOP','Índice Precios de Consumo de los alimentos y las bebidas no alcohólicas',"01 Alimentos y bebidas no alcohólicas ")

In [1466]:
df3_limpios=F.cambiar_filas(frame,'Grupos ECOICOP','Índice Precios de Consumo de muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar',"05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar")

In [1467]:
df3_limpios

     Anyo                                     Grupos ECOICOP  Valor_istac
208  2018    Índice Precios de Consumo del ocio y la cultura       99.751
209  2018    Índice Precios de Consumo de las comunicaciones      102.977
210  2018           Índice Precios de Consumo del transporte       94.710
211  2018               Índice Precios de Consumo de sanidad       99.681
212  2018  05 Muebles, artículos del hogar y artículos pa...       98.212
..    ...                                                ...          ...
294  2024  Índice Precios de Consumo del vestido y el cal...      105.560
295  2024  Índice Precios de Consumo de vivienda, agua, e...      105.341
296  2024  05 Muebles, artículos del hogar y artículos pa...      111.496
297  2024               Índice Precios de Consumo de sanidad      101.759
298  2024             01 Alimentos y bebidas no alcohólicas       129.682

[91 rows x 3 columns]

listo df_reducido limpio listo para analizar

Estos datos corresponden al Índice de Precios de Consumo (IPC) en España y han sido extraídos de las estadísticas oficiales del Instituto Nacional de Estadística (INE).

In [1244]:
df4=pd.read_csv("50913.csv",sep=";")

In [1245]:
df4

,Comunidades y Ciudades Autónomas,Grupos ECOICOP,Tipo de dato,Periodo,Total
0,Nacional,Índice general,Índice,2025M12,"119,942"
1,Nacional,Índice general,Índice,2025M11,"119,532"
2,Nacional,Índice general,Índice,2025M10,"119,301"
3,Nacional,Índice general,Índice,2025M09,"118,485"
4,Nacional,Índice general,Índice,2025M08,"118,824"
...,...,...,...,...,...
299515,19 Melilla,12 Otros bienes y servicios,Variación en lo que va de año,2002M05,"2,3"
299516,19 Melilla,12 Otros bienes y servicios,Variación en lo que va de año,2002M04,"1,9"
299517,19 Melilla,12 Otros bienes y servicios,Variación en lo que va de año,2002M03,"1,9"
299518,19 Melilla,12 Otros bienes y servicios,Variación en lo que va de año,2002M02,"1,7"
299519,19 Melilla,12 Otros bienes y servicios,Variación en lo que va de año,2002M01,NaN

In [1246]:
informe_detallado(df4)

--- INFORME FINAL (2026) ---
Dimensiones finales: (299520, 5)
Duplicados: 0
Nulos totales: 684

Primeras filas:
  Comunidades y Ciudades Autónomas  Grupos ECOICOP Tipo de dato  Periodo  \
0                         Nacional  Índice general       Índice  2025M12
1                         Nacional  Índice general       Índice  2025M11
2                         Nacional  Índice general       Índice  2025M10
3                         Nacional  Índice general       Índice  2025M09
4                         Nacional  Índice general       Índice  2025M08

     Total
0  119,942
1  119,532
2  119,301
3  118,485
4  118,824

In [1247]:
F.categorico(df4,"Comunidades y Ciudades Autónomas")

Comunidades y Ciudades Autónomas
Nacional                          14976
01 Andalucía                      14976
02 Aragón                         14976
03 Asturias, Principado de        14976
04 Balears, Illes                 14976
05 Canarias                       14976
06 Cantabria                      14976
07 Castilla y León                14976
08 Castilla - La Mancha           14976
09 Cataluña                       14976
10 Comunitat Valenciana           14976
11 Extremadura                    14976
12 Galicia                        14976
13 Madrid, Comunidad de           14976
14 Murcia, Región de              14976
15 Navarra, Comunidad Foral de    14976
16 País Vasco                     14976
17 Rioja, La                      14976
18 Ceuta                          14976
19 Melilla                        14976
Name: count, dtype: int64
['Nacional' '01 Andalucía' '02 Aragón' '03 Asturias, Principado de'
 '04 Balears, Illes' '05 Canarias' '06 Cantabria' '07 Castilla y León'
 '08 Castilla - La Mancha' '09 Cataluña' '10 Comunitat Valenciana'
 '11 Extremadura' '12 Galicia' '13 Madrid, Comunidad de'
 '14 Murcia, Región de' '15 Navarra, Comunidad Foral de' '16 País Vasco'
 '17 Rioja, La' '18 Ceuta' '19 Melilla']
20

consideramos las filas que contienen Madrid y Nacional para nuestro análisis

In [1248]:
lista=["13 Madrid, Comunidad de"]

In [1249]:
df4_in=F.filtrar_fila(df4,'Comunidades y Ciudades Autónomas',lista)

In [1250]:
df4_in

,Comunidades y Ciudades Autónomas,Grupos ECOICOP,Tipo de dato,Periodo,Total
194688,"13 Madrid, Comunidad de",Índice general,Índice,2025M12,"119,383"
194689,"13 Madrid, Comunidad de",Índice general,Índice,2025M11,"118,712"
194690,"13 Madrid, Comunidad de",Índice general,Índice,2025M10,"118,567"
194691,"13 Madrid, Comunidad de",Índice general,Índice,2025M09,"117,639"
194692,"13 Madrid, Comunidad de",Índice general,Índice,2025M08,"117,280"
...,...,...,...,...,...
209659,"13 Madrid, Comunidad de",12 Otros bienes y servicios,Variación en lo que va de año,2002M05,"3,0"
209660,"13 Madrid, Comunidad de",12 Otros bienes y servicios,Variación en lo que va de año,2002M04,"2,8"
209661,"13 Madrid, Comunidad de",12 Otros bienes y servicios,Variación en lo que va de año,2002M03,"2,7"
209662,"13 Madrid, Comunidad de",12 Otros bienes y servicios,Variación en lo que va de año,2002M02,"2,4"
209663,"13 Madrid, Comunidad de",12 Otros bienes y servicios,Variación en lo que va de año,2002M01,NaN

In [1251]:
F.categorico(df4_in,"Grupos ECOICOP")

Grupos ECOICOP
Índice general                                                                           1152
01 Alimentos y bebidas no alcohólicas                                                    1152
02 Bebidas alcohólicas y tabaco                                                          1152
03 Vestido y calzado                                                                     1152
04 Vivienda, agua, electricidad, gas y otros combustibles                                1152
05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar    1152
06 Sanidad                                                                               1152
07 Transporte                                                                            1152
08 Comunicaciones                                                                        1152
09 Ocio y cultura                                                                        1152
10 Enseñanza                                                                             1152
11 Restaurantes y hoteles                                                                1152
12 Otros bienes y servicios                                                              1152
Name: count, dtype: int64
['Índice general' '01 Alimentos y bebidas no alcohólicas'
 '02 Bebidas alcohólicas y tabaco' '03 Vestido y calzado'
 '04 Vivienda, agua, electricidad, gas y otros combustibles'
 '05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar'
 '06 Sanidad' '07 Transporte' '08 Comunicaciones' '09 Ocio y cultura'
 '10 Enseñanza' '11 Restaurantes y hoteles' '12 Otros bienes y servicios']
13

Filtramos filas de nuestro estudio

In [1252]:
mantener=["Índice general","01 Alimentos y bebidas no alcohólicas","05 Mobiliario, equipamiento del hogar y gastos corrientes de conservación de la vivienda"]

In [1253]:
df4_limpio=F.filtrar_fila(df4_in,'Grupos ECOICOP',mantener)

In [1254]:
df4_limpio.head()

,Comunidades y Ciudades Autónomas,Grupos ECOICOP,Tipo de dato,Periodo,Total
194688,"13 Madrid, Comunidad de",Índice general,Índice,2025M12,"119,383"
194689,"13 Madrid, Comunidad de",Índice general,Índice,2025M11,"118,712"
194690,"13 Madrid, Comunidad de",Índice general,Índice,2025M10,"118,567"
194691,"13 Madrid, Comunidad de",Índice general,Índice,2025M09,"117,639"
194692,"13 Madrid, Comunidad de",Índice general,Índice,2025M08,"117,280"

separamos la columna periodo en dos columnas año y mes

In [1255]:
df4_limpio2=F.periodo(df4_limpio,'Periodo')

c:\Users\tachi\Documents\git\proyecto3\Funciones.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Anyo'] = df[col].str[:4].astype(int)
c:\Users\tachi\Documents\git\proyecto3\Funciones.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mes'] = df[col].str[5:].astype(int)

In [1256]:
df4_limpio2

,Comunidades y Ciudades Autónomas,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
194688,"13 Madrid, Comunidad de",Índice general,Índice,"119,383",2025,12
194689,"13 Madrid, Comunidad de",Índice general,Índice,"118,712",2025,11
194690,"13 Madrid, Comunidad de",Índice general,Índice,"118,567",2025,10
194691,"13 Madrid, Comunidad de",Índice general,Índice,"117,639",2025,9
194692,"13 Madrid, Comunidad de",Índice general,Índice,"117,280",2025,8
...,...,...,...,...,...,...
196987,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"1,7",2002,5
196988,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"1,2",2002,4
196989,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,5",2002,3
196990,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,2",2002,2
196991,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,NaN,2002,1

Renombramos las columnas

In [1257]:
df4_limpio2=df4_limpio2.rename(columns={"Comunidades y Ciudades Autónomas":"Comunidad autónoma"})

In [1258]:
df4_limpio2

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
194688,"13 Madrid, Comunidad de",Índice general,Índice,"119,383",2025,12
194689,"13 Madrid, Comunidad de",Índice general,Índice,"118,712",2025,11
194690,"13 Madrid, Comunidad de",Índice general,Índice,"118,567",2025,10
194691,"13 Madrid, Comunidad de",Índice general,Índice,"117,639",2025,9
194692,"13 Madrid, Comunidad de",Índice general,Índice,"117,280",2025,8
...,...,...,...,...,...,...
196987,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"1,7",2002,5
196988,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"1,2",2002,4
196989,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,5",2002,3
196990,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,2",2002,2
196991,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,NaN,2002,1

Filtramos por años de estudio de 2018 a 2025

In [1260]:
df4_limpios = F.año_estudio(df4_limpio2,'Anyo')

In [1261]:
df4_limpios

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
194688,"13 Madrid, Comunidad de",Índice general,Índice,"119,383",2025,12
194689,"13 Madrid, Comunidad de",Índice general,Índice,"118,712",2025,11
194690,"13 Madrid, Comunidad de",Índice general,Índice,"118,567",2025,10
194691,"13 Madrid, Comunidad de",Índice general,Índice,"117,639",2025,9
194692,"13 Madrid, Comunidad de",Índice general,Índice,"117,280",2025,8
...,...,...,...,...,...,...
196795,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"1,2",2018,5
196796,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,3",2018,4
196797,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,2",2018,3
196798,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,1",2018,2
196799,"13 Madrid, Comunidad de",01 Alimentos y bebidas no alcohólicas,Variación en lo que va de año,"0,5",2018,1

data frame limpio df4_limpio

Estos datos son tomados por la Encuesta de Presupuestos Familiares (EPF), publicada anualmente por el Instituto Nacional de Estadística (INE).Representa el Gasto Monetario Total anual de los hogares

In [ ]:
df6_in=pd.read_csv("72956.csv",sep=";")
df6_in.head()

  Comunidad autónoma                       Divisiones COICOP   Año       Total
0          Andalucía  01. Alimentos y bebidas no alcohólicas  2016  14.654.495
1          Andalucía  01. Alimentos y bebidas no alcohólicas  2017  14.880.229
2          Andalucía  01. Alimentos y bebidas no alcohólicas  2018  15.442.791
3          Andalucía  01. Alimentos y bebidas no alcohólicas  2019  15.817.158
4          Andalucía  01. Alimentos y bebidas no alcohólicas  2020  16.729.772

In [ ]:
df6_in

,Comunidad autónoma,Divisiones COICOP,Año,Total
0,Andalucía,01. Alimentos y bebidas no alcohólicas,2016,14.654.495
1,Andalucía,01. Alimentos y bebidas no alcohólicas,2017,14.880.229
2,Andalucía,01. Alimentos y bebidas no alcohólicas,2018,15.442.791
3,Andalucía,01. Alimentos y bebidas no alcohólicas,2019,15.817.158
4,Andalucía,01. Alimentos y bebidas no alcohólicas,2020,16.729.772
...,...,...,...,...
2235,TOTAL NACIONAL,P.4. Consumo final efectivo de los hogares,2018,836.030.000
2236,TOTAL NACIONAL,P.4. Consumo final efectivo de los hogares,2019,858.434.000
2237,TOTAL NACIONAL,P.4. Consumo final efectivo de los hogares,2020,781.200.000
2238,TOTAL NACIONAL,P.4. Consumo final efectivo de los hogares,2021,850.832.000
2239,TOTAL NACIONAL,P.4. Consumo final efectivo de los hogares,2022 (P),939.647.000

In [ ]:
F.informe_detallado(df6_in)

--- INFORME FINAL (2026) ---
Dimensiones finales: (2240, 4)
Duplicados: 0
Nulos totales: 0

Primeras filas:
  Comunidad autónoma                       Divisiones COICOP   Año       Total
0          Andalucía  01. Alimentos y bebidas no alcohólicas  2016  14.654.495
1          Andalucía  01. Alimentos y bebidas no alcohólicas  2017  14.880.229
2          Andalucía  01. Alimentos y bebidas no alcohólicas  2018  15.442.791
3          Andalucía  01. Alimentos y bebidas no alcohólicas  2019  15.817.158
4          Andalucía  01. Alimentos y bebidas no alcohólicas  2020  16.729.772

In [ ]:
F.categorico(df6_in,"Comunidad autónoma")

Comunidad autónoma
Andalucía                       112
Aragón                          112
Asturias (Principado de)        112
Balears (Illes)                 112
Canarias                        112
Cantabria                       112
Castilla y León                 112
Castilla - La Mancha            112
Cataluña                        112
Comunitat Valenciana            112
Extremadura                     112
Galicia                         112
Madrid (Comunidad de)           112
Murcia (Región de)              112
Navarra (Comunidad Foral de)    112
País Vasco                      112
Rioja (La)                      112
Ceuta                           112
Melilla                         112
TOTAL NACIONAL                  112
Name: count, dtype: int64
['Andalucía' 'Aragón' 'Asturias (Principado de)' 'Balears (Illes)'
 'Canarias' 'Cantabria' 'Castilla y León' 'Castilla - La Mancha'
 'Cataluña' 'Comunitat Valenciana' 'Extremadura' 'Galicia'
 'Madrid (Comunidad de)' 'Murcia (Región de)'
 'Navarra (Comunidad Foral de)' 'País Vasco' 'Rioja (La)' 'Ceuta'
 'Melilla' 'TOTAL NACIONAL']
20

Filtramos filas de nuestro estudio

In [ ]:
men=["Madrid (Comunidad de)"]
df6=F.filtrar_fila(df6_in,'Comunidad autónoma',men)

In [ ]:
df6

,Comunidad autónoma,Divisiones COICOP,Año,Total
1344,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2016,11.048.172
1345,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2017,11.157.953
1346,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2018,11.842.589
1347,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2019,12.207.260
1348,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2020,13.319.939
...,...,...,...,...
1451,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2018,139.465.254
1452,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2019,144.828.929
1453,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2020,129.093.781
1454,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2021,139.779.021
1455,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2022 (P),156.977.841

In [ ]:
F.categorico(df6,"Divisiones COICOP")

Divisiones COICOP
01. Alimentos y bebidas no alcohólicas                                                       14
02. Bebidas alcohólicas, tabaco y narcóticos                                                 14
03. Artículos de vestir y calzado                                                            14
04. Vivienda, agua, electricidad, gas y otros combustibles                                   14
05. Mobiliario, equipamiento del hogar y gastos corrientes de conservación de la vivienda    14
06. Salud                                                                                    14
07. Transporte                                                                               14
08. Información y comunicación                                                               14
09. Ocio, deporte y cultura                                                                  14
10. Servicios para la educación                                                              14
11. Restaurantes y servicios de alojamiento                                                  14
12. Seguros y servicios financieros                                                          14
13. Cuidados personales, protección social y bienes y servicios varios                       14
Total gasto en consumo final de los hogares interior                                         14
P.3. Gasto en consumo final de los hogares                                                   14
P.4. Consumo final efectivo de los hogares                                                   14
Name: count, dtype: int64
['01. Alimentos y bebidas no alcohólicas'
 '02. Bebidas alcohólicas, tabaco y narcóticos'
 '03. Artículos de vestir y calzado'
 '04. Vivienda, agua, electricidad, gas y otros combustibles'
 '05. Mobiliario, equipamiento del hogar y gastos corrientes de conservación de la vivienda'
 '06. Salud' '07. Transporte' '08. Información y comunicación'
 '09. Ocio, deporte y cultura' '10. Servicios para la educación'
 '11. Restaurantes y servicios de alojamiento'
 '12. Seguros y servicios financieros'
 '13. Cuidados personales, protección social y bienes y servicios varios'
 'Total gasto en consumo final de los hogares interior'
 'P.3. Gasto en consumo final de los hogares'
 'P.4. Consumo final efectivo de los hogares']
16

Filtramos las filas de estudio

In [ ]:
mant=["01. Alimentos y bebidas no alcohólicas","05. Mobiliario, equipamiento del hogar y gastos corrientes de conservación de la vivienda", "Total gasto en consumo final de los hogares interior", "P.3. Gasto en consumo final de los hogares", "P.4. Consumo final efectivo de los hogares"]
df6_limpio=F.filtrar_fila(df6,'Divisiones COICOP',mant)

In [ ]:
df6_limpio

,Comunidad autónoma,Divisiones COICOP,Año,Total
1344,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2016,11.048.172
1345,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2017,11.157.953
1346,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2018,11.842.589
1347,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2019,12.207.260
1348,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2020,13.319.939
1349,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2021,13.130.024
1350,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2022 (P),13.820.927
1372,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2016,5.116.888
1373,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2017,5.272.698
1374,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2018,5.401.037
1375,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2019,5.341.217
1376,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2020,4.824.951
1377,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2021,5.461.417
1378,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2022 (P),5.663.956
1435,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2016,101.534.297
1436,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2017,106.807.304
1437,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2018,112.508.607
1438,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2019,115.603.322
1439,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2020,101.800.881
1440,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2021,109.496.255
1441,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2022 (P),123.129.533
1442,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2016,109.297.049
1443,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2017,115.633.858
1444,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2018,121.239.521
1445,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2019,125.385.395
1446,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2020,108.152.932
1447,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2021,117.341.951
1448,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2022 (P),132.821.654
1449,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2016,126.476.494
1450,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2017,133.312.051
1451,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2018,139.465.254
1452,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2019,144.828.929
1453,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2020,129.093.781
1454,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2021,139.779.021
1455,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2022 (P),156.977.841

Cambiamos los nombres de las columnas para que coincidan con el resto de data frames

In [ ]:
df6_limpio=df6_limpio.rename(columns={"Divisiones COICOP":"Grupos ECOICOP"})

In [ ]:
df6_limpio=df6_limpio.rename(columns={"Año":"Anyo"})

limpiamos los parentesis de los años con la función eliminarletras

In [ ]:
df6_limpios=F.eliminarletras(df6_limpio,'Anyo')

In [ ]:
df6_limpios

,Comunidad autónoma,Grupos ECOICOP,Anyo,Total
1344,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2016,11.048.172
1345,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2017,11.157.953
1346,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2018,11.842.589
1347,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2019,12.207.260
1348,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2020,13.319.939
1349,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2021,13.130.024
1350,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2022,13.820.927
1372,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2016,5.116.888
1373,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2017,5.272.698
1374,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2018,5.401.037
1375,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2019,5.341.217
1376,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2020,4.824.951
1377,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2021,5.461.417
1378,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2022,5.663.956
1435,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2016,101.534.297
1436,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2017,106.807.304
1437,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2018,112.508.607
1438,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2019,115.603.322
1439,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2020,101.800.881
1440,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2021,109.496.255
1441,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2022,123.129.533
1442,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2016,109.297.049
1443,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2017,115.633.858
1444,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2018,121.239.521
1445,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2019,125.385.395
1446,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2020,108.152.932
1447,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2021,117.341.951
1448,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2022,132.821.654
1449,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2016,126.476.494
1450,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2017,133.312.051
1451,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2018,139.465.254
1452,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2019,144.828.929
1453,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2020,129.093.781
1454,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2021,139.779.021
1455,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2022,156.977.841

Filtramos por años de estudio desde 2018 hasta 2025

In [1267]:
df6_limpios=F.año_estudio(df6_limpio,'Anyo')

In [1268]:
df6_limpios

,Comunidad autónoma,Grupos ECOICOP,Anyo,Total
1346,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2018,11.842.589
1347,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2019,12.207.260
1348,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2020,13.319.939
1349,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2021,13.130.024
1350,Madrid (Comunidad de),01. Alimentos y bebidas no alcohólicas,2022,13.820.927
1374,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2018,5.401.037
1375,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2019,5.341.217
1376,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2020,4.824.951
1377,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2021,5.461.417
1378,Madrid (Comunidad de),"05. Mobiliario, equipamiento del hogar y gasto...",2022,5.663.956
1437,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2018,112.508.607
1438,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2019,115.603.322
1439,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2020,101.800.881
1440,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2021,109.496.255
1441,Madrid (Comunidad de),Total gasto en consumo final de los hogares in...,2022,123.129.533
1444,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2018,121.239.521
1445,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2019,125.385.395
1446,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2020,108.152.932
1447,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2021,117.341.951
1448,Madrid (Comunidad de),P.3. Gasto en consumo final de los hogares,2022,132.821.654
1451,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2018,139.465.254
1452,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2019,144.828.929
1453,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2020,129.093.781
1454,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2021,139.779.021
1455,Madrid (Comunidad de),P.4. Consumo final efectivo de los hogares,2022,156.977.841

tenemos listos los datos limpios de este data frame

Analizamos el data frame

In [ ]:
df7=pd.read_csv("dataset-IECM-127_000010-~latest.csv")
df7.head()

,Estudio,Trabajos,España 2024,Madrid (Comunidad de) 2024,España 2023,Madrid (Comunidad de) 2023,España 2022,Madrid (Comunidad de) 2022,España 2021,Madrid (Comunidad de) 2021,...,España 2015,Madrid (Comunidad de) 2015,España 2014,Madrid (Comunidad de) 2014,España 2013,Madrid (Comunidad de) 2013,España 2012,Madrid (Comunidad de) 2012,España 2011,Madrid (Comunidad de) 2011
0,Hogares,Total,19295509,2684324,18925915,2521136,18514452,2462184,18470302,2539397,...,18080951,2507402,18020988,2481208,17949617,2473409,17894288,2450626,17061268,2275857
1,Hogares,Trabajo por cuenta propia y rentas de la propi...,2161753,238251,1999421,197951,1965534,191425,2003631,193868,...,2065632,216746,2056350,244780,1952860,220079,2076288,234650,2078085,207769
2,Hogares,Trabajo por cuenta ajena,10048176,1615851,9922654,1536977,9653189,1476558,9523658,1538399,...,8519360,1439702,8302616,1371690,8202877,1363952,8306263,1378358,8105179,1294753
3,Hogares,"Prestaciones, subsidios y otras prestaciones e...",7084879,830221,7003840,786208,6881832,790920,6937449,804917,...,7426402,830878,7611307,852472,7741520,873120,7432429,810664,6809180,751885
4,Hogares,No consta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69558,NaN,50715,NaN,52360,NaN,79308,NaN,68825,21450

In [ ]:
informe_detallado(df7)

--- INFORME FINAL (2026) ---
Dimensiones finales: (50, 30)
Duplicados: 0
Nulos totales: 220

Primeras filas:
   Estudio                                           Trabajos España 2024  \
0  Hogares                                              Total    19295509
1  Hogares  Trabajo por cuenta propia y rentas de la propi...     2161753
2  Hogares                           Trabajo por cuenta ajena    10048176
3  Hogares  Prestaciones, subsidios y otras prestaciones e...     7084879
4  Hogares                                          No consta         NaN

  Madrid (Comunidad de) 2024 España 2023 Madrid (Comunidad de) 2023  \
0                    2684324    18925915                    2521136
1                     238251     1999421                     197951
2                    1615851     9922654                    1536977
3                     830221     7003840                     786208
4                        NaN         NaN                        NaN

  España 2022 Madrid (Comunidad de) 2022 España 2021  \
0    18514452                    2462184    18470302
1     1965534                     191425     2003631
2     9653189                    1476558     9523658
3     6881832                     790920     6937449
4         NaN                        NaN         NaN

  Madrid (Comunidad de) 2021  ... España 2015 Madrid (Comunidad de) 2015  \
0                    2539397  ...    18080951                    2507402
1                     193868  ...     2065632                     216746
2                    1538399  ...     8519360                    1439702
3                     804917  ...     7426402                     830878
4                        NaN  ...       69558                        NaN

  España 2014 Madrid (Comunidad de) 2014 España 2013  \
0    18020988                    2481208    17949617
1     2056350                     244780     1952860
2     8302616                    1371690     8202877
3     7611307                     852472     7741520
4       50715                        NaN       52360

  Madrid (Comunidad de) 2013 España 2012 Madrid (Comunidad de) 2012  \
0                    2473409    17894288                    2450626
1                     220079     2076288                     234650
2                    1363952     8306263                    1378358
3                     873120     7432429                     810664
4                        NaN       79308                        NaN

  España 2011 Madrid (Comunidad de) 2011
0    17061268                    2275857
1     2078085                     207769
2     8105179                    1294753
3     6809180                     751885
4       68825                      21450

[5 rows x 30 columns]

Limpiamos datos nulos del data frame

In [ ]:
df_7limpio=gestionar_nulos_y_duplicados(df7)

In [ ]:
informe_detallado(df_7limpio)

--- INFORME FINAL (2026) ---
Dimensiones finales: (40, 30)
Duplicados: 0
Nulos totales: 0

Primeras filas:
                 Estudio                                           Trabajos  \
0                Hogares                                              Total
1                Hogares  Trabajo por cuenta propia y rentas de la propi...
2                Hogares                           Trabajo por cuenta ajena
3                Hogares  Prestaciones, subsidios y otras prestaciones e...
4  Porcentaje de hogares                                              Total

  España 2024 Madrid (Comunidad de) 2024 España 2023  \
0    19295509                    2684324    18925915
1     2161753                     238251     1999421
2    10048176                    1615851     9922654
3     7084879                     830221     7003840
4         100                        100         100

  Madrid (Comunidad de) 2023 España 2022 Madrid (Comunidad de) 2022  \
0                    2521136    18514452                    2462184
1                     197951     1965534                     191425
2                    1536977     9653189                    1476558
3                     786208     6881832                     790920
4                        100         100                        100

  España 2021 Madrid (Comunidad de) 2021  ... España 2015  \
0    18470302                    2539397  ...    18080951
1     2003631                     193868  ...     2065632
2     9523658                    1538399  ...     8519360
3     6937449                     804917  ...     7426402
4         100                        100  ...         100

  Madrid (Comunidad de) 2015 España 2014 Madrid (Comunidad de) 2014  \
0                    2507402    18020988                    2481208
1                     216746     2056350                     244780
2                    1439702     8302616                    1371690
3                     830878     7611307                     852472
4                        100         100                        100

  España 2013 Madrid (Comunidad de) 2013 España 2012  \
0    17949617                    2473409    17894288
1     1952860                     220079     2076288
2     8202877                    1363952     8306263
3     7741520                     873120     7432429
4         100                        100         100

  Madrid (Comunidad de) 2012 España 2011 Madrid (Comunidad de) 2011
0                    2450626    17061268                    2275857
1                     234650     2078085                     207769
2                    1378358     8105179                    1294753
3                     810664     6809180                     751885
4                        100         100                        100

[5 rows x 30 columns]

In [ ]:
F.categorico(df_7limpio,"Estudio")

Estudio
Hogares                                              4
Porcentaje de hogares                                4
Personas (miembros del hogar)                        4
Porcentaje de personas (miembros del hogar)          4
Tamaño medio del hogar                               4
Gasto total                                          4
Gasto medio por hogar                                4
Gasto medio por persona                              4
Gasto medio por unidad de consumo                    4
Índice sobre la media del gasto medio por persona    4
Name: count, dtype: int64
['Hogares' 'Porcentaje de hogares' 'Personas (miembros del hogar)'
 'Porcentaje de personas (miembros del hogar)' 'Tamaño medio del hogar'
 'Gasto total' 'Gasto medio por hogar' 'Gasto medio por persona'
 'Gasto medio por unidad de consumo'
 'Índice sobre la media del gasto medio por persona']
10

In [ ]:
F.categorico(df_7limpio,"Trabajos")

Trabajos
Total                                                                10
Trabajo por cuenta propia y rentas de la propiedad y del capital     10
Trabajo por cuenta ajena                                             10
Prestaciones, subsidios y otras prestaciones e ingresos regulares    10
Name: count, dtype: int64
['Total'
 'Trabajo por cuenta propia y rentas de la propiedad y del capital'
 'Trabajo por cuenta ajena'
 'Prestaciones, subsidios y otras prestaciones e ingresos regulares']
4

In [ ]:
df_7limpio .columns

Index(['Estudio', 'Trabajos', 'España 2024', 'Madrid (Comunidad de) 2024',
       'España 2023', 'Madrid (Comunidad de) 2023', 'España 2022',
       'Madrid (Comunidad de) 2022', 'España 2021',
       'Madrid (Comunidad de) 2021', 'España 2020',
       'Madrid (Comunidad de) 2020', 'España 2019',
       'Madrid (Comunidad de) 2019', 'España 2018',
       'Madrid (Comunidad de) 2018', 'España 2017',
       'Madrid (Comunidad de) 2017', 'España 2016',
       'Madrid (Comunidad de) 2016', 'España 2015',
       'Madrid (Comunidad de) 2015', 'España 2014',
       'Madrid (Comunidad de) 2014', 'España 2013',
       'Madrid (Comunidad de) 2013', 'España 2012',
       'Madrid (Comunidad de) 2012', 'España 2011',
       'Madrid (Comunidad de) 2011'],
      dtype='object')

Hacemos nuestro filtro para solo tener los datos que necesitamos eliminando columnas innecesarias

In [ ]:
df7_imp = df_7limpio[["Estudio","Trabajos","Madrid (Comunidad de) 2024","Madrid (Comunidad de) 2023","Madrid (Comunidad de) 2022","Madrid (Comunidad de) 2021","Madrid (Comunidad de) 2020","Madrid (Comunidad de) 2019","Madrid (Comunidad de) 2018"]]

In [1269]:
df7_imp

,Estudio,Trabajos,Madrid (Comunidad de) 2024,Madrid (Comunidad de) 2023,Madrid (Comunidad de) 2022,Madrid (Comunidad de) 2021,Madrid (Comunidad de) 2020,Madrid (Comunidad de) 2019,Madrid (Comunidad de) 2018
0,Hogares,Total,2684324,2521136,2462184,2539397,2621378,2612006,2604842
1,Hogares,Trabajo por cuenta propia y rentas de la propi...,238251,197951,191425,193868,208178,208329,203358
2,Hogares,Trabajo por cuenta ajena,1615851,1536977,1476558,1538399,1545325,1560697,1536823
3,Hogares,"Prestaciones, subsidios y otras prestaciones e...",830221,786208,790920,804917,867876,841223,861697
4,Porcentaje de hogares,Total,100,100,100,100,100,100,100
5,Porcentaje de hogares,Trabajo por cuenta propia y rentas de la propi...,"8,9","7,9","7,8","7,6","7,9",8,"7,8"
6,Porcentaje de hogares,Trabajo por cuenta ajena,"60,2",61,60,"60,6",59,"59,8",59
7,Porcentaje de hogares,"Prestaciones, subsidios y otras prestaciones e...","30,9","31,2","32,1","31,7","33,1","32,2","33,1"
8,Personas (miembros del hogar),Total,6991498,6378871,6240145,6430126,6623000,6552242,6469175
9,Personas (miembros del hogar),Trabajo por cuenta propia y rentas de la propi...,677786,569686,564402,569320,606095,591272,567610
10,Personas (miembros del hogar),Trabajo por cuenta ajena,4676599,4241219,4183907,4297192,4356466,4255724,4247184
11,Personas (miembros del hogar),"Prestaciones, subsidios y otras prestaciones e...",1637113,1567966,1485930,1557942,1660440,1699973,1637698
12,Porcentaje de personas (miembros del hogar),Total,100,100,100,100,100,100,100
13,Porcentaje de personas (miembros del hogar),Trabajo por cuenta propia y rentas de la propi...,"9,7","8,9",9,"8,9","9,2",9,"8,8"
14,Porcentaje de personas (miembros del hogar),Trabajo por cuenta ajena,"66,9","66,5",67,"66,8","65,8",65,"65,7"
15,Porcentaje de personas (miembros del hogar),"Prestaciones, subsidios y otras prestaciones e...","23,4","24,6","23,8","24,2","25,1","25,9","25,3"
16,Tamaño medio del hogar,Total,"2,6","2,5","2,5","2,5","2,5","2,5","2,5"
17,Tamaño medio del hogar,Trabajo por cuenta propia y rentas de la propi...,"2,8","2,9","2,9","2,9","2,9","2,8","2,8"
18,Tamaño medio del hogar,Trabajo por cuenta ajena,"2,9","2,8","2,8","2,8","2,8","2,7","2,8"
19,Tamaño medio del hogar,"Prestaciones, subsidios y otras prestaciones e...",2,2,"1,9","1,9","1,9",2,"1,9"
20,Gasto total,Total,105697598,"94208774,1",89243634,"86958496,2","85333928,4","93557155,4","90850887,5"
21,Gasto total,Trabajo por cuenta propia y rentas de la propi...,"10749685,7","9265560,1","7773597,4","7591580,7","7700933,8","8726624,1","8591651,5"
22,Gasto total,Trabajo por cuenta ajena,"66184522,7","59607478,1","57109458,6","55439814,8","53196402,9","59784118,3","58144004,7"
23,Gasto total,"Prestaciones, subsidios y otras prestaciones e...","28763389,8","25335735,9","24233096,4","23845513,7","24436591,7","24929024,5","23931358,3"
24,Gasto medio por hogar,Total,"39375,9","37367,6","36245,7","34243,8","32553,1","35818,1","34877,7"
25,Gasto medio por hogar,Trabajo por cuenta propia y rentas de la propi...,"45119,1","46807,4","40609,2","39158,5","36992,1","41888,7","42248,9"
26,Gasto medio por hogar,Trabajo por cuenta ajena,"40959,5","38782,3","38677,4","36037,3","34424,1",38306,"37833,9"
27,Gasto medio por hogar,"Prestaciones, subsidios y otras prestaciones e...","34645,5","32225,2","30639,1","29624,8","28156,8","29634,3","27772,4"
28,Gasto medio por persona,Total,15118,"14768,9","14301,5","13523,6","12884,5","14278,6","14043,7"
29,Gasto medio por persona,Trabajo por cuenta propia y rentas de la propi...,15860,"16264,3","13773,2","13334,5","12705,8","14759,1","15136,5"
30,Gasto medio por persona,Trabajo por cuenta ajena,"14152,3","14054,3","13649,8","12901,4","12210,9","14047,9",13690
31,Gasto medio por persona,"Prestaciones, subsidios y otras prestaciones e...","17569,6","16158,3","16308,4","15305,8","14716,9","14664,4","14612,8"
32,Gasto medio por unidad de consumo,Total,"22629,4","21934,2",21324,20167,"19188,9","21255,3","20855,6"
33,Gasto medio por unidad de consumo,Trabajo por cuenta propia y rentas de la propi...,"24562,2","25073,5","21303,7",20779,"19823,9","23024,7","23525,5"
34,Gasto medio por unidad de consumo,Trabajo por cuenta ajena,"22000,8","21573,1","21260,2","19970,8","18976,2","21616,5","21171,7"
35,Gasto medio por unidad de consumo,"Prestaciones, subsidios y otras prestaciones e...","23482,8","21794,7","21456,4","20440,6","19467,3","19883,7","19374,8"
36,Índice sobre la media del gasto medio por persona,Total,100,100,100,100,100,100,100
37,Índice sobre la media del gasto medio por persona,Trabajo por cuenta propia y rentas de la propi...,"104,9","110,1","96,3","98,6","98,6","103,4","107,8"
38,Índice sobre la media del gasto medio por persona,Trabajo por cuenta ajena,"93,6","95,2","95,4","95,4","94,8","98,4","97,5"
39,Índice sobre la media del gasto medio por persona,"Prestaciones, subsidios y otras prestaciones e...","116,2","109,4",114,"113,2","114,2","102,7","104,1"

Listo el data frame para el estudio de análisis

Analizamos el data frame para el estudios limpiando y filtrando

In [ ]:
df8=pd.read_csv("dataset-IECM-127_000033-1_4.csv")
df8.head()

,Estudio,Producto,España 2023,Madrid (Comunidad de) 2023,España 2022,Madrid (Comunidad de) 2022,España 2021,Madrid (Comunidad de) 2021,España 2020,Madrid (Comunidad de) 2020,España 2019,Madrid (Comunidad de) 2019,España 2018,Madrid (Comunidad de) 2018,España 2017,Madrid (Comunidad de) 2017,España 2016,Madrid (Comunidad de) 2016
0,Cantidad total consumida,Arroz,"304955,2","52392,4","286096,5",45853,265703,"35998,9",257704,"35084,9",264011,"37276,1",239832,"34774,6",240677,"40747,4",248643,"34741,3"
1,Cantidad total consumida,Harinas y otros cereales,"191271,7","19090,8","148939,4","13732,4",161011,"20283,7",180498,"19496,9",151104,"19099,2",139341,"17121,5",127877,"15116,5",140518,"12852,3"
2,Cantidad total consumida,Pan,"1677171,6","217726,1",1787500,"238488,1",1769464,234573,1714688,"224547,7",1796590,"225391,8",1824298,"223471,2",1863591,"236500,8",1892744,228899
3,Cantidad total consumida,Otros productos de panadería,"737101,6","115026,7","722554,7","114685,4",698868,"116609,1",664365,"105071,6",704724,"114067,2",699967,"102418,8",704155,"103521,8",710915,100009
4,Cantidad total consumida,Pizzas y quiches,"113978,4","14702,5","107151,8","14090,5",95052,"11513,5",100274,"13711,2",99564,"13296,9",98814,"13349,6",102010,"12333,5",107380,"13751,4"

In [ ]:

informe_detallado(df8)

--- INFORME FINAL (2026) ---
Dimensiones finales: (510, 18)
Duplicados: 0
Nulos totales: 0

Primeras filas:
                    Estudio                      Producto España 2023  \
0  Cantidad total consumida                         Arroz    304955,2
1  Cantidad total consumida      Harinas y otros cereales    191271,7
2  Cantidad total consumida                           Pan   1677171,6
3  Cantidad total consumida  Otros productos de panadería    737101,6
4  Cantidad total consumida              Pizzas y quiches    113978,4

  Madrid (Comunidad de) 2023 España 2022 Madrid (Comunidad de) 2022  \
0                    52392,4    286096,5                      45853
1                    19090,8    148939,4                    13732,4
2                   217726,1     1787500                   238488,1
3                   115026,7    722554,7                   114685,4
4                    14702,5    107151,8                    14090,5

  España 2021 Madrid (Comunidad de) 2021 España 2020  \
0      265703                    35998,9      257704
1      161011                    20283,7      180498
2     1769464                     234573     1714688
3      698868                   116609,1      664365
4       95052                    11513,5      100274

  Madrid (Comunidad de) 2020 España 2019 Madrid (Comunidad de) 2019  \
0                    35084,9      264011                    37276,1
1                    19496,9      151104                    19099,2
2                   224547,7     1796590                   225391,8
3                   105071,6      704724                   114067,2
4                    13711,2       99564                    13296,9

  España 2018 Madrid (Comunidad de) 2018 España 2017  \
0      239832                    34774,6      240677
1      139341                    17121,5      127877
2     1824298                   223471,2     1863591
3      699967                   102418,8      704155
4       98814                    13349,6      102010

  Madrid (Comunidad de) 2017 España 2016 Madrid (Comunidad de) 2016
0                    40747,4      248643                    34741,3
1                    15116,5      140518                    12852,3
2                   236500,8     1892744                     228899
3                   103521,8      710915                     100009
4                    12333,5      107380                    13751,4

Eliminamos nulos y duplicados para el estudio

In [ ]:
df_8limpio=gestionar_nulos_y_duplicados(df8)

In [ ]:
informe_detallado(df_8limpio)

--- INFORME FINAL (2026) ---
Dimensiones finales: (510, 18)
Duplicados: 0
Nulos totales: 0

Primeras filas:
                    Estudio                      Producto España 2023  \
0  Cantidad total consumida                         Arroz    304955,2
1  Cantidad total consumida      Harinas y otros cereales    191271,7
2  Cantidad total consumida                           Pan   1677171,6
3  Cantidad total consumida  Otros productos de panadería    737101,6
4  Cantidad total consumida              Pizzas y quiches    113978,4

  Madrid (Comunidad de) 2023 España 2022 Madrid (Comunidad de) 2022  \
0                    52392,4    286096,5                      45853
1                    19090,8    148939,4                    13732,4
2                   217726,1     1787500                   238488,1
3                   115026,7    722554,7                   114685,4
4                    14702,5    107151,8                    14090,5

  España 2021 Madrid (Comunidad de) 2021 España 2020  \
0      265703                    35998,9      257704
1      161011                    20283,7      180498
2     1769464                     234573     1714688
3      698868                   116609,1      664365
4       95052                    11513,5      100274

  Madrid (Comunidad de) 2020 España 2019 Madrid (Comunidad de) 2019  \
0                    35084,9      264011                    37276,1
1                    19496,9      151104                    19099,2
2                   224547,7     1796590                   225391,8
3                   105071,6      704724                   114067,2
4                    13711,2       99564                    13296,9

  España 2018 Madrid (Comunidad de) 2018 España 2017  \
0      239832                    34774,6      240677
1      139341                    17121,5      127877
2     1824298                   223471,2     1863591
3      699967                   102418,8      704155
4       98814                    13349,6      102010

  Madrid (Comunidad de) 2017 España 2016 Madrid (Comunidad de) 2016
0                    40747,4      248643                    34741,3
1                    15116,5      140518                    12852,3
2                   236500,8     1892744                     228899
3                   103521,8      710915                     100009
4                    12333,5      107380                    13751,4

In [ ]:
F.categorico(df_8limpio,"Producto")

Producto
Arroz                                  6
Harinas y otros cereales               6
Pan                                    6
Otros productos de panadería           6
Pizzas y quiches                       6
                                      ..
Gas licuado (butano, propano, etc.)    6
Combustibles líquidos                  6
Combustibles sólidos                   6
Gasóleo                                6
Gasolina                               6
Name: count, Length: 85, dtype: int64
['Arroz' 'Harinas y otros cereales' 'Pan' 'Otros productos de panadería'
 'Pizzas y quiches' 'Pastas alimenticias y cuscús' 'Cereales de desayuno'
 'Otros productos elaborados con cereales n.c.o.p.' 'Carne de vacuno'
 'Carne de porcino' 'Carne de ovino y caprino' 'Carne de ave'
 'Otras carnes' 'Despojos y menudillos'
 'Charcutería y carne seca, salada o ahumada'
 'Carne procesada y otras preparaciones a base de carne'
 'Pescado fresco o refrigerado' 'Pescado congelado'
 'Marisco fresco o refrigerado' 'Marisco congelado'
 'Pescado y marisco seco, ahumado o salado'
 'Pescado y marisco procesado y otras preparaciones de pescado y marisco'
 'Leche entera' 'Leche semidescremada y descremada' 'Leche conservada'
 'Yogures' 'Queso' 'Otros productos a base de leche' 'Huevos'
 'Mantequilla y otras grasas animales'
 'Margarina y otras grasas vegetales' 'Aceite de oliva' 'Otros aceites'
 'Cítricos (frescos o refrigerados)' 'Platanos (frescos o refrigerados)'
 'Manzanas (frescas o refrigeradas)' 'Peras (frescas o refrigeradas)'
 'Frutas con hueso (frescas o refrigeradas)'
 'Bayas (fresas, frambuesas, uvas, etc.) (frescas o refrigeradas)'
 'Otras frutas (frescas o refrigeradas)' 'Frutos secos'
 'Frutas preparadas, en conserva y congeladas'
 'Hortalizas de hoja o de tallo (frescas o refrigeradas)'
 'Bolsas de mezcla de lechugas (frescas o refrigeradas)'
 'Coles (frescas o refrigeradas)'
 'Hortalizas cultivadas por su fruto (tomates, judías verdes, calabacines, etc.) (frescas o refrigeradas)'
 'Hortalizas con raíz o bulbo y setas (frescas o refrigeradas)'
 'Legumbres y hortalizas secas'
 'Legumbres y hortalizas procesadas y otras preparaciones a base de legumbres y hortalizas'
 'Legumbres y hortalizas congeladas' 'Aceitunas' 'Patatas' 'Snacks'
 'Productos derivados de las patatas, mandioca y otros tubérculos'
 'Azúcar' 'Confitura, mermelada y miel' 'Chocolate' 'Helados'
 'Edulcorantes' 'Café, no en cápsulas' 'Café en cápsulas'
 'Té e infusiones' 'Bebidas de cacao y chocolate en polvo' 'Agua mineral'
 'Bebidas refrescantes con o sin gas' 'Bebidas energéticas'
 'Bebidas isotónicas' 'Zumos de frutas y/o vegetales'
 'Espirituosos, licores y similares. Licores sin alcohol' 'Vinos de uva'
 'Otros vinos' 'Otras bebidas a base de vino' 'Cerveza'
 'Cerveza baja en alcohol o sin alcohol' 'Bebidas a base de cerveza'
 'Cigarrillos' 'Puros y pequeños cigarros' 'Suministro de agua'
 'Electricidad' 'Gas ciudad y natural'
 'Gas licuado (butano, propano, etc.)' 'Combustibles líquidos'
 'Combustibles sólidos' 'Gasóleo' 'Gasolina']
85

Consideramos solo algunas columnas para nuestro estudio solo considerando algunos datos

In [ ]:
df8_imp = df_8limpio[["Estudio","Producto","Madrid (Comunidad de) 2023","Madrid (Comunidad de) 2022","Madrid (Comunidad de) 2021","Madrid (Comunidad de) 2020","Madrid (Comunidad de) 2019","Madrid (Comunidad de) 2018"]]

In [ ]:
df8_imp.head()

,Estudio,Producto,Madrid (Comunidad de) 2023,Madrid (Comunidad de) 2022,Madrid (Comunidad de) 2021,Madrid (Comunidad de) 2020,Madrid (Comunidad de) 2019,Madrid (Comunidad de) 2018
0,Cantidad total consumida,Arroz,"52392,4",45853,"35998,9","35084,9","37276,1","34774,6"
1,Cantidad total consumida,Harinas y otros cereales,"19090,8","13732,4","20283,7","19496,9","19099,2","17121,5"
2,Cantidad total consumida,Pan,"217726,1","238488,1",234573,"224547,7","225391,8","223471,2"
3,Cantidad total consumida,Otros productos de panadería,"115026,7","114685,4","116609,1","105071,6","114067,2","102418,8"
4,Cantidad total consumida,Pizzas y quiches,"14702,5","14090,5","11513,5","13711,2","13296,9","13349,6"

Tenemos listo limpieza datos para el análisis

Ahora analizaremos los datos sacados de la página de Mercadona con los precios de los productos en Madrid

In [ ]:
df1=pd.read_csv("mercadona_precio_dataset.csv")

In [ ]:
df1.head()

,id,nombre,precio_unidad,precio_bulk,formato,categoria,seccion
0,4241.0,"Aceite de oliva 0,4º Hacendado",19.75,3.95,NaN,Aceite de oliva,"Aceite, especias y salsas"
1,4240.0,"Aceite de oliva 0,4º Hacendado",4.10,4.10,NaN,Aceite de oliva,"Aceite, especias y salsas"
2,4717.0,Aceite de oliva virgen extra Hacendado,14.55,4.85,NaN,Aceite de oliva,"Aceite, especias y salsas"
3,4740.0,Aceite de oliva virgen extra Hacendado,4.95,4.95,NaN,Aceite de oliva,"Aceite, especias y salsas"
4,4706.0,Aceite de oliva virgen extra Hacendado Gran Se...,5.95,7.93,NaN,Aceite de oliva,"Aceite, especias y salsas"

In [ ]:
df1_trabajo=df1[["nombre","precio_unidad","precio_bulk","categoria","seccion"]]

In [ ]:
informe_detallado(df1_trabajo)

--- INFORME FINAL (2026) ---
Dimensiones finales: (4565, 5)
Duplicados: 4
Nulos totales: 0

Primeras filas:
                                              nombre  precio_unidad  \
0                     Aceite de oliva 0,4º Hacendado          19.75
1                     Aceite de oliva 0,4º Hacendado           4.10
2             Aceite de oliva virgen extra Hacendado          14.55
3             Aceite de oliva virgen extra Hacendado           4.95
4  Aceite de oliva virgen extra Hacendado Gran Se...           5.95

   precio_bulk        categoria                    seccion
0         3.95  Aceite de oliva  Aceite, especias y salsas
1         4.10  Aceite de oliva  Aceite, especias y salsas
2         4.85  Aceite de oliva  Aceite, especias y salsas
3         4.95  Aceite de oliva  Aceite, especias y salsas
4         7.93  Aceite de oliva  Aceite, especias y salsas

Observamos los datos duplicados para considerar cuales son

In [ ]:
duplicados = df1_trabajo[df1_trabajo.duplicated(keep=False)]
duplicados

,nombre,precio_unidad,precio_bulk,categoria,seccion
657,Huevos sorpresa de chocolate Hacendado dibujo,1.90,31.67,Chocolatinas,"Azúcar, caramelos y chocolate"
658,Huevos sorpresa de chocolate Hacendado dibujo,1.90,31.67,Chocolatinas,"Azúcar, caramelos y chocolate"
3373,Lavavajillas Todo en 1 Bosque Verde en pastillas,2.95,0.10,Limpiavajilla a máquina,Limpieza y hogar
3378,Lavavajillas Todo en 1 Bosque Verde en pastillas,2.95,0.10,Limpiavajilla a máquina,Limpieza y hogar
3848,Bocaditos en gelatina gato adulto Delikuit,2.30,2.88,Alimentación húmeda,Mascotas
3849,Bocaditos en gelatina gato adulto Delikuit,2.30,2.88,Alimentación húmeda,Mascotas
3872,Champú perros y gatos con aloe vera Nuske efec...,3.50,11.29,Aseo y cuidado,Mascotas
3915,Champú perros y gatos con aloe vera Nuske efec...,3.50,11.29,Aseo y cuidado,Mascotas

Borramos los datos duplicados y consideramos solamente el que aparece primero.

In [ ]:
df_limpio = df1_trabajo.drop_duplicates(subset=['nombre'], keep='first')
df_limpio.head()

,nombre,precio_unidad,precio_bulk,categoria,seccion
0,"Aceite de oliva 0,4º Hacendado",19.75,3.95,Aceite de oliva,"Aceite, especias y salsas"
2,Aceite de oliva virgen extra Hacendado,14.55,4.85,Aceite de oliva,"Aceite, especias y salsas"
4,Aceite de oliva virgen extra Hacendado Gran Se...,5.95,7.93,Aceite de oliva,"Aceite, especias y salsas"
5,Aceite de oliva 1º Hacendado,20.85,4.17,Aceite de oliva,"Aceite, especias y salsas"
7,Aceite de oliva virgen Hacendado,12.85,4.28,Aceite de oliva,"Aceite, especias y salsas"

In [ ]:
informe_detallado(df_limpio)

--- INFORME FINAL (2026) ---
Dimensiones finales: (3942, 5)
Duplicados: 0
Nulos totales: 0

Primeras filas:
                                              nombre  precio_unidad  \
0                     Aceite de oliva 0,4º Hacendado          19.75
2             Aceite de oliva virgen extra Hacendado          14.55
4  Aceite de oliva virgen extra Hacendado Gran Se...           5.95
5                       Aceite de oliva 1º Hacendado          20.85
7                   Aceite de oliva virgen Hacendado          12.85

   precio_bulk        categoria                    seccion
0         3.95  Aceite de oliva  Aceite, especias y salsas
2         4.85  Aceite de oliva  Aceite, especias y salsas
4         7.93  Aceite de oliva  Aceite, especias y salsas
5         4.17  Aceite de oliva  Aceite, especias y salsas
7         4.28  Aceite de oliva  Aceite, especias y salsas

Listo tenemos todos los datos limpios y solo con la información necesaria

hagamos las uniones de los dataframes

In [1470]:
df_union1=pd.concat([df4_limpios,df2_limpio],ignore_index=True)

In [1471]:
df_union1

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Total,Anyo,Mes
0,"13 Madrid, Comunidad de",Índice general,Índice,"119,383",2025,12
1,"13 Madrid, Comunidad de",Índice general,Índice,"118,712",2025,11
2,"13 Madrid, Comunidad de",Índice general,Índice,"118,567",2025,10
3,"13 Madrid, Comunidad de",Índice general,Índice,"117,639",2025,9
4,"13 Madrid, Comunidad de",Índice general,Índice,"117,280",2025,8
...,...,...,...,...,...,...
1915,NaN,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.2,2018,5
1916,NaN,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.1,2018,4
1917,NaN,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.4,2018,3
1918,NaN,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.6,2018,2
1919,NaN,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.7,2018,1

analizamos los datos nulos de la columna

In [1472]:
F.categorico(df_union1,'Grupos ECOICOP')

Grupos ECOICOP
Índice general                                                                           768
01 Alimentos y bebidas no alcohólicas                                                    768
05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar    384
Name: count, dtype: int64
['Índice general' '01 Alimentos y bebidas no alcohólicas'
 '05 Muebles, artículos del hogar y artículos para el mantenimiento corriente del hogar']
3

In [1473]:
F.categorico(df_union1,'Tipo de dato')

Tipo de dato
Índice                           480
Variación mensual                480
Variación anual                  480
Variación en lo que va de año    480
Name: count, dtype: int64
['Índice' 'Variación mensual' 'Variación anual'
 'Variación en lo que va de año']
4

In [1474]:
F.categorico(df_union1,'Total')

Total
0.3        55
0.2        47
0.5        43
0.1        43
0.4        41
           ..
96,620      1
8.0         1
7.8         1
6.9         1
113,986     1
Name: count, Length: 689, dtype: int64
['119,383' '118,712' '118,567' '117,639' '117,280' '117,321' '117,212'
 '116,476' '116,428' '115,905' '115,715' '115,329' '115,080' '114,470'
 '114,403' '113,651' '113,986' '114,068' '114,589' '114,149' '113,935'
 '113,227' '112,288' '111,865' '111,826' '111,757' '112,149' '111,999'
 '111,479' '111,087' '110,841' '110,205' '110,398' '109,811' '109,446'
 '108,872' '108,858' '108,524' '108,627' '108,495' '108,985' '108,939'
 '109,314' '107,637' '106,760' '106,979' '104,033' '103,404' '103,732'
 '102,559' '102,201' '100,628' '99,746' '99,385' '99,855' '99,400'
 '99,099' '98,177' '97,330' '97,889' '97,684' '97,383' '97,245' '97,101'
 '96,867' '96,897' '97,793' '97,334' '97,472' '97,279' '97,471' '97,528'
 '98,424' '98,433' '98,289' '97,564' '97,398' '97,525' '97,878' '98,031'
 '97,950' '97,171' '96,912' '96,620' '97,579' '97,848' '97,954' '97,172'
 '96,750' '96,744' '97,208' '97,008' '96,264' '95,636' '95,491' '95,401'
 '0,6' '0,1' '0,8' '0,3' '0,0' '0,5' '0,2' '0,7' '-0,3' '-0,1' '-0,5'
 '0,4' '-0,2' '-0,4' '1,6' '2,8' '1,1' '0,9' '-0,6' '-0,9' '-1,0' '-0,8'
 '3,7' '3,6' '3,5' '2,9' '2,3' '2,0' '2,2' '2,4' '3,1' '1,5' '2,7' '3,4'
 '3,2' '2,6' '3,0' '1,4' '5,2' '5,3' '4,9' '5,8' '6,3' '7,8' '9,3' '9,6'
 '9,5' '8,3' '7,7' '9,0' '6,9' '5,6' '6,2' '5,1' '2,1' '1,7' '-1,1' '-0,7'
 '1,8' '1,3' '1,9' '1,0' '1,2' '2,5' '4,6' '4,7' '5,0' '5,4' '3,8' '-1,2'
 '-1,3' '-1,6' '135,333' '134,940' '134,301' '132,242' '132,232' '133,275'
 '133,665' '133,208' '132,486' '132,447' '132,014' '131,810' '130,841'
 '130,770' '130,661' '128,802' '128,932' '129,339' '129,736' '129,812'
 '129,974' '128,845' '129,196' '129,272' '128,625' '128,248' '127,575'
 '126,347' '125,616' '125,379' '124,467' '123,974' '123,695' '123,168'
 '121,970' '119,825' '119,276' '117,699' '116,435' '114,011' '113,232'
 '112,669' '112,370' '110,823' '109,522' '105,641' '104,349' '103,878'
 '103,132' '101,669' '100,843' '99,782' '99,579' '99,501' '99,514'
 '99,607' '99,364' '98,867' '98,938' '99,204' '98,034' '98,229' '98,631'
 '97,820' '97,687' '97,571' '98,364' '98,674' '98,947' '97,523' '97,185'
 '97,388' '96,949' '97,376' '96,946' '95,934' '96,143' '95,908' '95,674'
 '95,801' '95,410' '95,371' '95,923' '95,846' '96,017' '95,928' '96,250'
 '95,054' '94,838' '94,719' '95,333' '94,513' '94,385' '94,329' '94,645'
 '4,2' '5,9' '7,9' '10,8' '10,9' '11,3' '11,9' '12,9' '16,6' '16,9' '15,4'
 '15,7' '15,8' '15,5' '14,3' '13,7' '13,2' '10,2' '5,5' '7,5' '7,0' '4,4'
 '3,9' '3,3' '14,1' '10,5' '9,8' '9,2' 119.942 119.532 119.301 118.485
 118.824 118.777 118.867 118.077 117.997 117.26 117.191 116.733 116.534
 116.01 115.726 115.009 115.707 115.66 116.212 115.776 115.472 114.674
 113.807 113.404 113.308 113.28 113.676 113.348 113.149 112.544 112.354
 111.719 111.773 111.111 110.703 109.668 109.899 109.734 109.866 109.498
 110.265 109.986 110.267 108.262 107.375 107.566 104.403 103.567 103.965
 102.738 102.425 100.575 99.743 99.292 100.046 99.572 99.105 97.949 97.008
 97.583 97.574 97.367 97.208 96.7 96.555 96.511 97.385 96.938 96.944
 96.652 97.024 97.139 98.096 98.167 98.001 97.059 97.113 97.719 97.834
 97.644 96.669 96.32 96.085 97.329 97.768 97.875 96.978 96.742 96.604
 97.302 97.048 96.181 95.393 95.281 95.153 0.3 0.2 0.7 -0.3 0.0 -0.1 0.1
 0.6 0.4 0.5 -0.6 -0.5 0.8 0.9 -0.2 -0.7 1.9 3.0 -0.4 1.2 1.8 -0.8 1.0
 -0.9 -1.0 -1.3 -1.1 2.9 3.1 2.7 2.3 2.0 2.2 2.8 2.4 1.5 3.4 3.6 3.3 3.2
 3.5 2.6 4.1 6.0 5.9 5.7 6.8 7.3 8.9 10.5 10.8 10.2 8.7 8.3 9.8 7.6 6.1
 6.5 5.5 5.4 4.0 1.3 1.1 1.7 2.1 5.3 5.8 5.0 2.5 1.6 -1.4 -1.6 -1.2 -1.5
 133.887 133.626 133.195 131.323 131.511 132.529 133.046 132.583 131.966
 131.535 131.159 130.732 129.998 129.937 130.058 128.263 128.595 129.058
 129.474 129.369 129.317 128.439 128.357 128.395 127.728 127.761 127.63
 126.029 125.42 125.193 124.245 123.935 123.474 123.144 121.849 119.498
 119.044 117.185 116.61 114.017 113.481 112.95 112.609 110.658 109.328
 105.729 104.47 103.593 102.903 101.609 101.013 99.704 99.76 99.493 99.699
 99.706 99.281 98.986 98.953 98.891 98.049 98.407 99.329 97.983 97.905
 97.815 98.636 98.943 98.955 97.575 97.436 96.946 97.108 97.141 95.716
 95.801 95.705 95.96 95.586 95.171 95.19 95.534 95.274 95.359 95.513
 96.024 94.864 94.87 94.833 95.499 95.069 94.41 94.305 94.223 94.379 1.4
 4.2 4.4 4.7 4.3 7.4 9.0 9.5 10.3 12.0 12.9 16.5 16.6 15.4 15.7 15.3 14.4
 13.8 13.5 11.0 10.1 5.6 4.8 7.2 5.2 3.7 13.9 13.3 9.4 7.5 6.2 113.874
 113.995 113.704 113.304 113.169 113.164 113.644 113.523 113.255 113.014
 112.7 112.638 113.059 112.901 112.725 112.395 112.245 112.204 112.802
 112.822 112.682 112.312 112.134 112.007 112.33 112.289 112.175 111.844
 111.73 111.617 112.367 112.13 111.823 111.173 110.557 110.157 110.166
 109.386 108.58 107.695 107.174 106.867 106.704 105.984 105.164 103.616
 102.689 102.099 101.549 101.033 100.529 99.937 99.647 99.692 100.156
 100.065 99.736 99.417 99.04 99.198 99.478 99.482 99.323 99.0 98.844
 98.906 99.344 99.435 99.149 98.819 98.551 98.49 99.121 99.249 99.061
 98.573 98.415 98.287 99.119 99.03 98.74 98.203 98.57 98.474 98.245 97.887
 97.692 97.654 98.487 98.403 98.175 97.846 97.609 97.57 3.9 6.3 7.7 7.9
 8.5 8.0 7.8 6.9 5.1]
689

In [1475]:
F.categorico(df_union1,'Anyo')

Anyo
2025    240
2024    240
2023    240
2022    240
2021    240
2020    240
2019    240
2018    240
Name: count, dtype: int64
[2025 2024 2023 2022 2021 2020 2019 2018]
8

In [1476]:
F.categorico(df_unionLimpio,'Mes')

Mes
12.0    480
11.0    480
10.0    480
9.0     480
8.0     480
7.0     480
6.0     480
5.0     480
4.0     480
3.0     480
2.0     480
1.0     480
Name: count, dtype: int64
[12. 11. 10.  9.  8.  7.  6.  5.  4.  3.  2.  1. nan]
12

In [1477]:
F.categorico(df_union1,'Comunidad autónoma')

Comunidad autónoma
13 Madrid, Comunidad de    768
Name: count, dtype: int64
['13 Madrid, Comunidad de' nan]
1

Observemos los datos nulos y duplicados

In [1478]:
F.datos_nulos(df_union1)

datos nulos
Comunidad autónoma    1152
Grupos ECOICOP           0
Tipo de dato             0
Total                    0
Anyo                     0
Mes                      0
dtype: int64
datos totales
Comunidad autónoma     768
Grupos ECOICOP        1920
Tipo de dato          1920
Total                 1920
Anyo                  1920
Mes                   1920
dtype: int64
porcentaje de nulos
Comunidad autónoma    60.0
Grupos ECOICOP         0.0
Tipo de dato           0.0
Total                  0.0
Anyo                   0.0
Mes                    0.0
dtype: float64
datos duplicados
0

Una vez vistas todas las columnas hacemos los filtros necesarios

In [1479]:
df_unionlimpio=F.cambiar_filas(df_union1,"Comunidad autónoma","13 Madrid, Comunidad de", "Madrid")

In [1480]:
df_final=F.completar_nulos(df_unionlimpio,"Comunidad autónoma","Madrid")

In [1481]:
df_final= df_final.rename(columns={'Total': 'Valor_ine'})

In [1482]:
df_final=F.cambiocoma_punto(df_final,'Valor_ine')

In [1483]:
df_final

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Valor_ine,Anyo,Mes
0,Madrid,Índice general,Índice,119.383,2025,12
1,Madrid,Índice general,Índice,118.712,2025,11
2,Madrid,Índice general,Índice,118.567,2025,10
3,Madrid,Índice general,Índice,117.639,2025,9
4,Madrid,Índice general,Índice,117.280,2025,8
...,...,...,...,...,...,...
1915,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.200,2018,5
1916,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.100,2018,4
1917,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.400,2018,3
1918,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.600,2018,2
1919,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.700,2018,1

In [1484]:
F.datos_nulos(df_final)

datos nulos
Comunidad autónoma    0
Grupos ECOICOP        0
Tipo de dato          0
Valor_ine             0
Anyo                  0
Mes                   0
dtype: int64
datos totales
Comunidad autónoma    1920
Grupos ECOICOP        1920
Tipo de dato          1920
Valor_ine             1920
Anyo                  1920
Mes                   1920
dtype: int64
porcentaje de nulos
Comunidad autónoma    0.0
Grupos ECOICOP        0.0
Tipo de dato          0.0
Valor_ine             0.0
Anyo                  0.0
Mes                   0.0
dtype: float64
datos duplicados
103

Analicemos los duplicados

In [1485]:
F.gestionar_nulos_y_duplicados(df_final)

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Valor_ine,Anyo,Mes
0,Madrid,Índice general,Índice,119.383,2025,12
1,Madrid,Índice general,Índice,118.712,2025,11
2,Madrid,Índice general,Índice,118.567,2025,10
3,Madrid,Índice general,Índice,117.639,2025,9
4,Madrid,Índice general,Índice,117.280,2025,8
...,...,...,...,...,...,...
1812,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.200,2018,5
1813,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.100,2018,4
1814,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.400,2018,3
1815,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.600,2018,2
1816,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.700,2018,1

Analizaremos que pasa con los datos que tienen ambas estadisticas las de INE y la de ISTAC

In [1486]:
df_unido = pd.merge(df_final,df3_limpios, on=["Anyo",'Grupos ECOICOP'],how='left')

In [1487]:
df_unido

,Comunidad autónoma,Grupos ECOICOP,Tipo de dato,Valor_ine,Anyo,Mes,Valor_istac
0,Madrid,Índice general,Índice,119.383,2025,12,NaN
1,Madrid,Índice general,Índice,118.712,2025,11,NaN
2,Madrid,Índice general,Índice,118.567,2025,10,NaN
3,Madrid,Índice general,Índice,117.639,2025,9,NaN
4,Madrid,Índice general,Índice,117.280,2025,8,NaN
...,...,...,...,...,...,...,...
1915,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,0.200,2018,5,98.212
1916,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.100,2018,4,98.212
1917,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.400,2018,3,98.212
1918,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.600,2018,2,98.212
1919,Madrid,"05 Muebles, artículos del hogar y artículos pa...",Variación en lo que va de año,-0.700,2018,1,98.212

Veamos los valores nulos y duplicados

In [1488]:
F.datos_nulos(df_unido)

datos nulos
Comunidad autónoma      0
Grupos ECOICOP          0
Tipo de dato            0
Valor_ine               0
Anyo                    0
Mes                     0
Valor_istac           912
dtype: int64
datos totales
Comunidad autónoma    1920
Grupos ECOICOP        1920
Tipo de dato          1920
Valor_ine             1920
Anyo                  1920
Mes                   1920
Valor_istac           1008
dtype: int64
porcentaje de nulos
Comunidad autónoma     0.0
Grupos ECOICOP         0.0
Tipo de dato           0.0
Valor_ine              0.0
Anyo                   0.0
Mes                    0.0
Valor_istac           47.5
dtype: float64
datos duplicados
103

Analizamos la tabla para sacar conclusiones

Calcularemos el promedio por indicie

In [1489]:

analisis_grupos = df_unido.groupby('Grupos ECOICOP')[['Valor_ine', 'Valor_istac']].count()

In [1490]:
analisis_grupos

                                                    Valor_ine  Valor_istac
Grupos ECOICOP
01 Alimentos y bebidas no alcohólicas                     768            0
05 Muebles, artículos del hogar y artículos par...        384          336
Índice general                                            768          672